body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px
}

.square {
    /*
    border-radius: 50%;
    height: 34px;
    width: 34px;    
    background: transparent;
    float: left;
    border-color: transparent;
    */
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34 px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    
}

.grid {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info{
    margin-left: 20px;
}